{
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "as-needed": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^(react-redux/(.*)$)|^(react-redux$)",
    "<THIRD_PARTY_MODULES>",
    "@/types/(.*)$",
    "@/constants",
    "@/constants/(.*)$",
    "@/lib/(.*)$",
    "@/services/(.*)$",
    "@/utils/(.*)$",
    "@/redux/(.*)$",
    "@/hooks/(.*)$",
    "@/components/(.*)$",
    "@/style/(.*)$",
    "@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
